# App
APP_NAME=news-radar
APP_ENV=development
SECRET_KEY=change-me-to-random-string
DEBUG=true

#TTL
OAUTH_CODE_TTL=30 

# PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=newsradar
POSTGRES_USER=newsradar
POSTGRES_PASSWORD=newsradar

# Redis
REDIS_URL=redis://redis:6379/0

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Telegram Bot
TELEGRAM_BOT_TOKEN=

# Telegram Parser (Telethon)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_NAME=newsradar

# HuggingFace
HUGGINGFACE_API_TOKEN=
HF_CLASSIFIER_MODEL_URL=
HF_SUMMARIZER_MODEL_URL=

# Frontend
VITE_API_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=

#Api
BACKEND_URL=http://backend:8000